  <footer>
    <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info-logo">
                    <h2>
                       Chacras
                    </h2>
                    <p>
                       Somos un sitio de gran trayectoria, recopilando a los mejores profesionales
                       con el objetivo de brindarle los mejores servicios a los vecinos del barrio
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-nav">
                    <h4>
                        Navigacion
                    </h4>
                    <ul>
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="about.html">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="service.html">
                                Contrataciones
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                Contacto
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-contact">
                    <h4>
                        Informacion de contacto
                    </h4>
                    <div class="location">
                        <h6>
                           Direccion:
                        </h6>
                        <a href="">
                            <img src="images/location.png" alt="">
                            <span>
                                Les Champs-Élysées, PA 0612
                            </span>
                        </a>
                    </div>
                    <div class="call">
                        <h6>
                            Atencion al cliente:
                        </h6>
                        <a href="">
                            <img src="images/telephone.png" alt="">
                            <span>
                                ( +54 385 4567890 )
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="discover">
                    <h4>
                        Discover
                    </h4>
                    <ul>
                        <li>
                            <a href="">
                                Help
                            </a>
                        </li>
                        <li>
                            <a href="">
                                How It Works

                            </a>
                        </li>
                        <li>
                            <a href="">
                                subscribe
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                    <div class="social-box">
                        <a href="">
                            <img src="images/facebook.png" alt="">
                        </a>
                        <a href="">
                            <img src="images/twitter.png" alt="">
                        </a>
                        <a href="">
                            <img src="images/google-plus.png" alt="">
                        </a>
                        <a href="">
                            <img src="images/linkedin.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        Copyright &copy; 2023 All Rights Reserved By
        <a href="https://html.design/">Equipo E APPEGG</a>
    </p>
</section>
<!-- footer section -->
</footer>