<!-- NAVBAR MARIA -->
<nav class="navbar navbar-expand-lg custom_nav-container">
    
    <a class="navbar-brand" th:if="${session.usuariosession == null}" th:href="@{/inicio}"><span>Chacras</span></a>
    <a class="navbar-brand" th:if="${session.usuariosession != null}" th:href="@{/inicioLogueado}"><span>Chacras</span></a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuariosession == null}" th:href="@{/inicio}">Inicio</a>
                    <a class="nav-link" th:if="${session.usuariosession != null}" th:href="@{/inicioLogueado}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/proveedor/servicios}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuariosession == null}" th:href="@{/login}">Login/Registro</a>

                </li>

                <!-- NAVBAR PARA ADMIN -->
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}"
                        sec:authorize="hasRole('ADMIN')" href="#" id="adminDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="true" style="color: white">
                        Panel de administración
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown" sec:authorize="hasRole('ADMIN')">
                        <li><a class="dropdown-item" th:href="@{/admin/dashboard}">Panel Administración</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" th:href="@{/usuario/listaTodos}">Gestion de Usuarios</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" th:href="@{/proveedor/listaTodos}">Gestión de Proveedores</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" th:href="@{/oficios/listaTodos}">Gestión de Oficios</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" th:href="@{/pedido/listaTodos}">Gestión de Pedidos</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" th:href="@{/feedback/listaTodos}">Gestión de Comentarios</a></li>
                    </ul>
                </li>

                <!-- NAVBAR PARA PROVEEDORES -->
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle"
                        th:if="${#request.isUserInRole('ROLE_USER')} or ${#request.isUserInRole('ROLE_PROVEEDOR')}"
                        href="#" id="proveedorDropdown" role="button" data-toggle="dropdown" aria-expanded="true"
                        style="color: white">
                        Panel de administración
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="proveedorDropdown"
                        th:if="${#request.isUserInRole('ROLE_USER')} or ${#request.isUserInRole('ROLE_PROVEEDOR')}">

                        <li><a th:if="${#request.isUserInRole('ROLE_USER')}" class="dropdown-item"
                                th:href="@{/pedido/listarpedidosUsuario}">Mis Pedidos</a></li>
                        <li><a th:if="${#request.isUserInRole('ROLE_PROVEEDOR')}" class="dropdown-item"
                                th:href="@{/pedido/listarpedidosProveedor}">Mis Pedidos</a></li>
                        <hr class="dropdown-divider">

                    </ul>

                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle"
                        th:if="${session.usuariosession != null} or ${session.proveedorsession != null}" href="#"
                        id="perfilDropdown" role="button" data-toggle="dropdown" aria-expanded="false"
                        style="color: white">
                        Perfil
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                        <li><a th:if="${#request.isUserInRole('ROLE_USER')} or ${#request.isUserInRole('ROLE_ADMIN')}"
                                class="dropdown-item" th:href="@{/usuario/perfil}">Editar Perfil</a></li>
                        <li><a th:if="${#request.isUserInRole('ROLE_PROVEEDOR')}" class="dropdown-item"
                                th:href="@{/proveedor/perfil}">Editar Perfil</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                    </ul>

                </li>
            </ul>
            <div>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0" th:action="@{/busqueda}">
                    <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</nav>