<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragmentos/head:: head"></head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav th:replace="/fragmentos/navbar :: nav"></nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class=" slider_section position-relative">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="/imagenes/chacras1.jpg" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Mantenimiento <br>
                                                    del hogar <br>
                                                    <span>
                                                        Chacras de Coria
                                                    </span>
                                                </h1>
                                                <p>
                                                    BIENVENID@! <br />
                                                    al mejor sitio de busqueda de Chacras de Coria en MENDOZA
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="/imagenes/chacras2.jpg" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Mantenimiento <br>
                                                    del hogar <br>
                                                    <span>
                                                        Chacras de Coria
                                                    </span>
                                                </h1>
                                                <p>
                                                    BIENVENID@! <br />
                                                    El mejor sitio de busqueda de Chacras de Coria en MENDOZA
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="slider_item-box layout_padding2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="img-box">
                                            <div>
                                                <img src="/imagenes/chacras3.jpeg" alt="" class="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Mantenimiento <br>
                                                    del hogar <br>
                                                    <span>
                                                        Chacras de Coria
                                                    </span>
                                                </h1>
                                                <p>
                                                    BIENVENID@! <br />
                                                    El mejor sitio de busqueda de Chacras de Coria en MENDOZA
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="slider_nav-box">
                    <div class="btn-box">
                        <a href="">
                            <!-- Read More -->
                        </a>
                        <hr>
                    </div>
                    <div class="custom_carousel-control">
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>
    <div class="bg">

        <!-- about section -->
        <section class="about_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        Sobre Nosotros
                    </h3>
                </div>
                <p class="layout_padding2-top">
                    Somos una aplicacion que permite conectar los tres barrios cerrados de la localidad de Chacras de
                    Coria en Mendoza ofreciendo un lugar donde buscar y contactar profesionales de todos los rubros para
                    realizar el mantenimiento de tu hogar.
                </p>
                <div class="img-box layout_padding2">
                    <img src="/imagenes/mujer_con_planos.jpg" alt="">
                </div>
                <p class="layout_padding2-bottom">
                    Aqui podras consultar sobre las problemas que surgan en tu domilicio, solicitar presupuestos y
                    coordinar visitas para realizar las reparaciones correspondientes. Ademas, podras calificar el
                    servicio prestado asi como al prestador de manera de generar un ranking y asegurarte de siempre
                    poder contratar al personal mas calificado para hacer tu reparacion.
                </p>
            </div>
            <div class="container">
                <div class="btn-box">
                    <a href="">
                        <!-- Read More -->
                    </a>
                    <hr>
                </div>
            </div>
        </section>


        <!-- end about section -->


        <!-- work section -->

        <section class="work_section layout_padding">
            <div class="container">
                <div class="custom_heading-container">
                    <h3 class=" ">
                        COMO TRABAJAMOS
                    </h3>
                </div>
            </div>
            <div class="work_container ">
                <div class="box b-1">
                    <div class="img-box">
                        <img src="/imagenes/puntualidad.jpg" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            PUNTUALIDAD
                        </h6>
                    </div>
                </div>
                <div class="box b-2">
                    <div class="img-box ">
                        <img src="/imagenes/perfeccion.jpg" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            PERFECCION
                        </h6>
                    </div>
                </div>
                <div class="box b-3">
                    <div class="img-box ">
                        <img src="/imagenes/formalidad.jpg" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            FORMALIDAD
                        </h6>
                    </div>
                </div>
                <div class="box b-4">
                    <div class="img-box ">
                        <img src="/imagenes/optimizacion.jpg" alt="">
                    </div>
                    <div class="name">
                        <h6>
                            OPTIMIZACION
                        </h6>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="btn-box">
                    <a href="">
                        <!-- Read More -->
                    </a>
                    <hr>
                </div>
            </div>
        </section>


        <!-- end work section -->

        <!-- contact section -->

        <!-- end contact section -->
        <!-- <div class="container layout_padding2-top">
            <section class="client_section layout_padding-bottom">
                <div class="container">
                    <div class="custom_heading-container">
                        <h3 class=" ">
                            NUESTROS CLIENTES
                        </h3>
                    </div>
                    <div class="layout_padding2-top">
                        <div class="client_container">
                            <div class="detail-box">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                </p>
                            </div>
                            <div class="client_id">
                                <div class="img-box">
                                    <img src="/images/client.png" alt="">
                                </div>
                                <div class="name">
                                    <h5>
                                        tempor incididunt
                                    </h5>
                                    <h6>
                                        Owner
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>
        <!-- info section -->
        <!-- end info_section -->
        <footer th:replace="/fragmentos/footer :: footer"></footer>
        <!-- footer section -->
        <!-- footer section -->

       
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
    
    </div>
</body>

</html>