<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html>
    <head th:replace="/fragmentos/head:: head"></head>    

    <body>
        <div class="hero_area">
            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragmentos/navbar :: nav"></nav>
                </div>
            </header>
        </div>
        <div class="bg">
            <div class="container m-5">
                <table class="table table-hover">
                    <div class="form-group my-3">                     
                        <h3 class="card-title">Listado de proveedores</h3>
                    </div>
                    <thead>
                        <tr>                            
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Oficio</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')">Modificar Oficio</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Estado</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')">Activar/Desactivar</th>                          
                        </tr>
                    </thead>
                    <tbody th:each="proveedor : ${proveedores}">
                        <tr>
                            <td scope="row" th:text="${proveedor.nombre}"></td>
                            <td th:text="${proveedor.apellido}"></td>                            
                            <td th:text="${proveedor.oficio.denominacion}"></td>
                            <td>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/proveedor/modificarOficioProveedor/__${proveedor.id}__}">Editar</a>
                            </td>
                            <td>
                               <a class=" dropdown-item" th:href="@{/proveedor/perfil}">Ver Perfil</a>
                            </td>    
                            <td th:if="${!proveedor.estado}">INACTIVO
                            </td>
                            <td th:if="${proveedor.estado}">ACTIVO
                            </td>                        
                            <td>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/proveedor/desactReactProveedores/__${proveedor.id}__}">Activar/Desactivar</a>
                            </td>                           
                        </tr>
                    </tbody>
                </table>
                <div th:if="${Error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error</h5>
                        <p class="card-text" th:text="${Error}"></p>
                    </div>
                </div>
                <div th:if="${Exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${Exito}"></p>
                    </div>
                </div> 

            </div>
            <footer th:replace="/fragmentos/footer :: footer"></footer>
            
            <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </div>
    </body>
</html>
