<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragmentos/head:: head"></head>

    <body>
        <div class="hero_area">
            <header class="header_section">
                <div class="container-fluid">
                    <nav th:replace="/fragmentos/navbar :: nav"></nav>
                </div>
            </header>
        </div>
        <div class="bg">
            <div class="container m-5">      
                <div class="form-group my-3">
                    <h3 class="card-title">Crear nuevo oficio</h3>
                    <button type="button" class=""><a th:href="@{/oficios/registrarOficios/}">Crear</a></button>
                    
                </div>
            </div>
            <div class="container m-5">      
                <div class="form-group my-3">                    
                    <div class="form-group my-3">                        
                        <p>Volver a editar proveedor <a th:href="@{/proveedor/listaTodos/}">click aquí</a></p>                        
                    </div>
                </div>
            </div>
            <div th:if="${Error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${Error}"></p>
                </div>
            </div>
            <div th:if="${Exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${Exito}"></p>
                </div>
            </div> 
            <div class="container m-5">      
                <table class="table table-hover">
                    <div class="form-group my-3">                     
                        <h3 class="card-title">Listado de oficios</h3>
                    </div> 
                    <thead>
                        <tr>
                            <th scope="col">Denominación</th>
                            <th scope="col">Estado</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')">Modificar</th>
                            <th scope="col" sec:authorize="hasRole('ADMIN')">Activar/Desactivar</th>
                        </tr>
                    </thead>
                    <tbody th:each="oficio : ${oficios}">
                        <tr>
                            <th scope="row" th:text="${oficio.denominacion}"></td>
                            <td th:text="${oficio.estado}"></td>
                            <td>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/oficios/modificarOficios/__${oficio.id}__}">Editar</a>
                            </td>                        
                            <td>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/oficios/desactReactOficios/__${oficio.id}__}">Activar/Desactivar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <footer th:replace="/fragmentos/footer :: footer"></footer>
            <!-- footer section -->
            <!-- footer section -->

            <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </div>
    </body>
</html>
