<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Servicios de Chacras de Coria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Mi estilo-->
 <!-- <link rel="stylesheet" href="../static/estilo/estilo.css"> -->
</head>

<body>
    <nav th:replace="/fragmentos/navbar :: nav"></nav>
    <header>
        <h1>Servicios de Chacras de Coria</h1>
        
    </header>

    <!--====================================================-->
    <!--        LOGIN       -->
    <!--====================================================-->

    <form th:action="@{/logincheck}" method="POST" class="d-flex justify-content-center mt-4">

        <div th:if="${Error != null}" class=" alert alert-danger" role="alert">
            <p th:text="${Error}"></p>
        </div> 
        
        
        <div class="card border-2 w-75 d-flex flex-column align-items-center">
            <h2>LOGIN</h2>
            <input type="email" aria-label="Mail" placeholder="Mail" class="form-control form-control-lg mt-3 w-75"
            name="email" >

            <input type="password" aria-label="password" placeholder="Contraseña" class="form-control form-control-lg mt-3 w-75"
            name="password" >

            <button type="submit" class="btn btn-success mt-5 mb-3 w-auto">Ingresar</button>
        </div>

    </form>

    <!--====================================================-->
    <!--        IR A REGISTRO       -->
    <!--====================================================-->

    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center mt-5 card w-75">
            <h2>No estas registrado?</h2>
            <h2>REGISTRATE!</h2>
   
            <div class="d-flex justify-content-evenly w-100 mt-3 mb-3">
                <button type="button" class="btn btn-warning"><a th:href="@{/usuario/registrar}">Como usuario</a></button>

                <button type="button" class="btn btn-success"><a th:href="@{/proveedor/registrar}">Como proveedor</a></button>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>