<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Admin</title>
  <link rel="stylesheet" href="../styles/panelAdmin.css">
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box;">



    <h1>Panel de Administración</h1>
    <!-- Muestra estadísticas clave o información relevante para el administrador -->
    <a th:href="@{/admin/users}">Gestión de Usuarios</a>
    <br>
    <a th:href="@{/admin/comments}">Gestión de Comentarios</a>
    <br>
    <a th:href="@{/admin/services/new}">Crear Nuevo Servicio</a>
    <!-- Otros enlaces a funciones de administración -->

    <!-- Contenido adicional según sea necesario -->

  
</body>
</html>