<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragmentos/head:: head"></head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav th:replace="/fragmentos/navbar :: nav"></nav>
            </div>
        </header>
        <!-- end header section -->


        <!-- service section -->
        <div class="bg" >
            <section class="service_section layout_padding">
                <div class="container">
                    <div class="custom_heading-container">
                        <h3 class=" ">
                            NUESTROS SERVICIOS
                        </h3>
                    </div>
                    <p class="">
                        <!-- ad minim veniam, quis nostrud exercitation ullamco -->
                    </p>
                    <div class="service_container ">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="/imagenes/carpinteria.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Carpinteria
                                    </h6>
                                    <p>
                                        Muebles a medida
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="/imagenes/catering.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Catering
                                    </h6>
                                    <p>
                                        Expertos en gastronomía
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-3">
                                <div class="img-box">
                                    <img src="/imagenes/construccion.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Construcción
                                    </h6>
                                    <p>
                                        Edificación de proyectos
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="/imagenes/costura.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Costura
                                    </h6>
                                    <p>
                                        Diseño y confección
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="/imagenes/electricidad.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Electricidad
                                    </h6>
                                    <p>
                                        Instalaciones seguras
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-3">
                                <div class="img-box">
                                    <img src="/imagenes/gasista.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Gasistas
                                    </h6>
                                    <p>
                                        Profesionales matriculados
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="/imagenes/jardineria.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Jardinería
                                    </h6>
                                    <p>
                                        Renovación de espacios verdes
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="/imagenes/pintura.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Pintura
                                    </h6>
                                    <p>
                                        Detalles de categoría
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box b-3">
                                <div class="img-box">
                                    <img src="/imagenes/plomeria.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h6>
                                        Plomeria
                                    </h6>
                                    <p>
                                        Soluciones confiables
                                    </p>
                                    <div class="btn-box">
                                        <a href="">
                                            <!-- Read More -->
                                        </a>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>

            <!-- end service section -->

            <footer th:replace="/fragmentos/footer :: footer"></footer>

            <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

        </div>
    </div>
</body>

</html>