a {
    text-decoration: none; /* Quita el subrayado predeterminado */
    color: black; /* Color de texto por defecto */
    transition: color 0.3s, font-size 0.3s; /* Agrega una transición suave */
}

a:hover {
    color: white; /* Color al pasar el mouse sobre el enlace */
    font-weight: bold; /* Tamaño de fuente al pasar el mouse */
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .comentario{
      color: green;
      background-color: black;
  }